##  IMPORTING RAW SCRAPED DATA FROM WEB

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
df = pd.read_json('data.json')
df.head(4)

In [2]:
df.dtypes

AC                       object
Bath_room               float64
Bed_room                float64
Build_Size               object
D_from_Airport           object
D_from_Marin             object
D_from_beach             object
D_from_city              object
D_from_countryside       object
D_golfcourse             object
Garage                   object
Heating                  object
Plot_Size                object
Pool                     object
WC                      float64
property_description     object
property_name            object
property_price           object
dtype: object

As we can see our data is not upto the mark. There are some character "m" in Build_Size and Plot_size. And also we need to convert some of obejct columns in numeric colums.

In [3]:
df['Bath_room'] = pd.to_numeric(df['Bath_room'], errors='coerce', downcast='integer')
df['Bed_room'] = pd.to_numeric(df['Bed_room'], errors='coerce', downcast='integer')
df['Build_Size'] = df['Build_Size'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')
df['Plot_Size'] = df['Plot_Size'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')
df['D_from_Airport'] = df['D_from_Airport'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')
df['D_from_Marin'] = df['D_from_Marin'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')
df['D_from_beach'] = df['D_from_beach'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')
df['D_from_city'] = df['D_from_city'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')
df['D_from_countryside'] = df['D_from_countryside'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')
df['D_golfcourse'] = df['D_golfcourse'].astype(str).str[:-2].apply(pd.to_numeric, errors='coerce')

In [4]:
df.dtypes

AC                       object
Bath_room               float64
Bed_room                float64
Build_Size              float64
D_from_Airport          float64
D_from_Marin            float64
D_from_beach            float64
D_from_city             float64
D_from_countryside      float64
D_golfcourse            float64
Garage                   object
Heating                  object
Plot_Size               float64
Pool                     object
WC                      float64
property_description     object
property_name            object
property_price           object
dtype: object

We have successfully converted data in desired data type so that statistical analysis can be done. Let's look at data using basic descriptive statistics.

In [5]:
df.describe()

,Bath_room,Bed_room,Build_Size,D_from_Airport,D_from_Marin,D_from_beach,D_from_city,D_from_countryside,D_golfcourse,Plot_Size,WC
count,92351.000000,92803.000000,9.280400e+04,3852.000000,3495.000000,2994.000000,4295.000000,2587.000000,1913.000000,4.811900e+04,1147.000000
mean,2.483178,3.349795,5.747750e+02,42.066952,16.148555,14.096226,16.624144,5.485350,14.534658,1.959725e+04,1.714908
std,1.781848,1.847447,3.237039e+04,31.448661,19.193788,22.988415,286.134376,9.730763,12.577543,2.965679e+06,1.444667
min,1.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,1.000000
25%,2.000000,2.000000,9.500000e+01,18.000000,2.000000,1.000000,0.400000,0.000000,4.000000,2.500000e+02,1.000000
50%,2.000000,3.000000,1.420000e+02,40.000000,10.000000,6.000000,2.000000,1.000000,10.000000,8.000000e+02,1.000000
75%,3.000000,4.000000,2.500000e+02,60.550000,25.000000,20.000000,7.000000,5.000000,23.000000,1.937000e+03,2.000000
max,128.000000,128.000000,9.500000e+06,501.000000,360.000000,800.000000,17000.000000,79.000000,60.000000,6.500000e+08,25.000000

After looking at median value and maximum value it gives me notion that every coloum have outlier. Let's remove every data point which have outlier in any column.

In [ ]:
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)] 
# Here i'm using boolian indexing to keep only Those points which have z score between -3 and 3

In [ ]:

sns.set(style="whitegrid")
plot_data = df[df['Bath_room'] <= 10]
ax = sns.countplot(x="Bath_room", data=plot_data, palette='GnBu_d')